VITE_SITE_NAME=Vijay Kumar Sharma
VITE_SITE_TAGLINE=Legal & Tech Freelancer
VITE_CONTACT_PHONE=+91-9599130381
VITE_CONTACT_EMAIL=vijay@vijaykrsha.online
VITE_CONTACT_EMAIL_ALT=contact@vijaykrsha.online
VITE_CONTACT_LOCATION=India
